<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" href="css/styleHome.css" type="text/css" />
</head>
<body>
<div class="navbar">
    <marquee style='background:#000000'>
        <img height='70' width='150' src='../img/emag.png'>
    </marquee>

    <ul>
        <!-- Navigation menu -->
        <li class='dropdown'> <a href="/shopping-carts">SHOPPING CART</a>
            <div class='dropdown-content'>
                <a href='/shopping-carts'> READ </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/sales">SALES</a>
            <div class='dropdown-content'>
                <a href='/sales/insertSale'> CREATE </a>
                <a href='/sales/updateSale'> UPDATE </a>
                <a href='/sales'> READ </a>
                <a href='/sales/deleteSale'> DELETE </a>
            </div>
        </li>

        <li class='dropdown'> <a href="/orders">ORDERS</a>
            <div class='dropdown-content'>
                <a href='/orders/insertOrder'> CREATE </a>
                <a href='/orders/updateOrder'> UPDATE </a>
                <a href='/orders'> READ </a>
                <a href='/orders/deleteOrder'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/products">PRODUCTS</a>
            <div class='dropdown-content'>
                <a href='/products/insertProduct'> CREATE </a>
                <a href='/products/updateProduct'> UPDATE </a>
                <a href='/products'> READ </a>
                <a href='/products/deleteProduct'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/users">USERS</a>
            <div class='dropdown-content'>
                <a href='/userCreate'> CREATE </a>
                <a href="/userUpdate"> UPDATE </a>
                <a href='/users'> READ </a>
                <a href='/userDelete'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'>
            <a href="/">HOME-LOGOUT</a>
            <!-- Dropdown content for shopping cart -->

        </li>
    </ul>
</div>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="store-info-container">
            <h1>Bine ai venit adminule!</h1>
            <p>Verifica starea siteului .</p>
        </div>
    </div>
</div>
</body>
</html>