<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/reset.css" type="text/css" />
    <link rel="stylesheet" href="css/styleHome.css" type="text/css" />
</head>
<body>

<div class="navbar">

        <marquee style='background:#000000; margin: 0; padding: 0; opacity:1.0;'  >
            <img height='70' width='150' src='img/emag.png'>

        </marquee>


        <ul>
            <li> <a href="/login/admin">ADMIN</a></li>
            <li > <a href="/login/client">CUSTOMER</a></li>
            <li > <a href="/userCreate">REGISTER</a></li>
        </ul>

</div>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="store-info-container">
                <h1>Bine ați venit pe Site-ul eMAG!</h1>
                <p>Aici puteți găsi cele mai bune produse și servicii.</p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; 2024 My Amazing Store. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
