<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Product</title>
    <link rel="stylesheet" href="../css/styleHome.css" type="text/css" />
    <link rel="stylesheet" href="../css/users.css" type="text/css" />
    <link rel="stylesheet" href="../css/form.css" type="text/css" />
</head>
<body>
<div th:if="${session.loggedInUser.isAdmin}">
<div class="navbar">
    <marquee style='background:#000000'>
        <img height='70' width='150' src='../img/emag.png'>
    </marquee>

    <ul>
        <!-- Navigation menu -->
        <li class='dropdown'> <a href="/shopping-carts">SHOPPING CART</a>
            <div class='dropdown-content'>
                <a href='/shopping-carts'> READ </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/sales">SALES</a>
            <div class='dropdown-content'>
                <a href='/sales/insertSale'> CREATE </a>
                <a href='/sales/updateSale'> UPDATE </a>
                <a href='/sales'> READ </a>
                <a href='/sales/deleteSale'> DELETE </a>
            </div>
        </li>

        <li class='dropdown'> <a href="/orders">ORDERS</a>
            <div class='dropdown-content'>
                <a href='/orders/insertOrder'> CREATE </a>
                <a href='/orders/updateOrder'> UPDATE </a>
                <a href='/orders'> READ </a>
                <a href='/orders/deleteOrder'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/products">PRODUCTS</a>
            <div class='dropdown-content'>
                <a href='/products/insertProduct'> CREATE </a>
                <a href='/products/updateProduct'> UPDATE </a>
                <a href='/products'> READ </a>
                <a href='/products/deleteProduct'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/users">USERS</a>
            <div class='dropdown-content'>
                <a href='/userCreate'> CREATE </a>
                <a href="/userUpdate"> UPDATE </a>
                <a href='/users'> READ </a>
                <a href='/userDelete'> DELETE </a>
            </div>
        </li>
    </ul>
</div>
<h1 th:align="center">Create Product</h1>
<form method="POST" th:action="@{/products/insertProduct}" th:modelAttribute="productDTO">

    <label for="nameProd">Product Name:</label>
    <input type="text" id="nameProd" name="nameProd" required><br>

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>

    <label for="price">Price:</label>
    <input type="text" id="price" name="price" required pattern="^[1-9][0-9]*$" title="Please enter a valid number >0"><br>

    <label for="category">Category:</label>
    <input type="text" id="category" name="category" required pattern="[A-Za-z]+" title="Category must contain only letters"><br>

    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" required min="1" title="Stock must be greater than or equal to 1"><br>

    <input type="submit" value="Create Product">
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Category</th>
        <th>Stock</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of products -->
    <tr th:each="product : ${products}">
        <td th:text="${product.idProd}"></td>
        <td th:text="${product.nameProd}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.stock}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>
</div>

</body>
</html>
