<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Sale</title>
    <link rel="stylesheet" href="../css/styleHome.css" type="text/css" />
    <link rel="stylesheet" href="../css/users.css" type="text/css" />
    <link rel="stylesheet" href="../css/form.css" type="text/css" />
</head>
<body>
<div th:if="${session.loggedInUser.isAdmin}">
<div class="navbar">
    <marquee style='background:#000000'>
        <img height='70' width='150' src='../img/emag.png'>
    </marquee>

    <ul>
        <!-- Navigation menu -->
        <li class='dropdown'> <a href="/shopping-carts">SHOPPING CART</a>
            <div class='dropdown-content'>
                <a href='/shopping-carts'> READ </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/sales">SALES</a>
            <div class='dropdown-content'>
                <a href='/sales/insertSale'> CREATE </a>
                <a href='/sales/updateSale'> UPDATE </a>
                <a href='/sales'> READ </a>
                <a href='/sales/deleteSale'> DELETE </a>
            </div>
        </li>

        <li class='dropdown'> <a href="/orders">ORDERS</a>
            <div class='dropdown-content'>
                <a href='/orders/insertOrder'> CREATE </a>
                <a href='/orders/updateOrder'> UPDATE </a>
                <a href='/orders'> READ </a>
                <a href='/orders/deleteOrder'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/products">PRODUCTS</a>
            <div class='dropdown-content'>
                <a href='/products/insertProduct'> CREATE </a>
                <a href='/products/updateProduct'> UPDATE </a>
                <a href='/products'> READ </a>
                <a href='/products/deleteProduct'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/users">USERS</a>
            <div class='dropdown-content'>
                <a href='/userCreate'> CREATE </a>
                <a href="/userUpdate"> UPDATE </a>
                <a href='/users'> READ </a>
                <a href='/userDelete'> DELETE </a>
            </div>
        </li>
    </ul>
</div>

<h1 th:align="center">Delete Sale</h1>
<form method="POST" th:action="@{/sales/deleteSale}" th:modelAttribute="saleDTO">

    <label for="id">Sale ID:</label>
    <input type="text" id="id" name="id" required><br>
    <input type="submit" value="Delete Sale">
</form>

<div class="container" th:if="${error}"  >
    <p th:text="${error}"></p>
</div>

<div class="container" th:if="${ok}"  >
    <p th:text="${ok}"></p>
</div>
</div>
</body>
</html>
