<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="css/styleHome.css" type="text/css" />
    <link rel="stylesheet" href="css/users.css" type="text/css" />
</head>
<body>

<div class="navbar" th:if="${session.loggedInUser.isAdmin}">
    <marquee style='background:#000000'>
        <img height='70' width='150' src='../img/emag.png'>
    </marquee>

    <ul>
        <!-- Navigation menu -->
        <li class='dropdown'> <a href="/shopping-carts">SHOPPING CART</a>
            <div class='dropdown-content'>
                <a href='/shopping-carts'> READ </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/sales">SALES</a>
            <div class='dropdown-content'>
                <a href='/sales/insertSale'> CREATE </a>
                <a href='/sales/updateSale'> UPDATE </a>
                <a href='/sales'> READ </a>
                <a href='/sales/deleteSale'> DELETE </a>
            </div>
        </li>

        <li class='dropdown'> <a href="/orders">ORDERS</a>
            <div class='dropdown-content'>
                <a href='/orders/insertOrder'> CREATE </a>
                <a href='/orders/updateOrder'> UPDATE </a>
                <a href='/orders'> READ </a>
                <a href='/orders/deleteOrder'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/products">PRODUCTS</a>
            <div class='dropdown-content'>
                <a href='/products/insertProduct'> CREATE </a>
                <a href='/products/updateProduct'> UPDATE </a>
                <a href='/products'> READ </a>
                <a href='/products/deleteProduct'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'> <a href="/users">USERS</a>
            <div class='dropdown-content'>
                <a href='/userCreate'> CREATE </a>
                <a href="/userUpdate"> UPDATE </a>
                <a href='/users'> READ </a>
                <a href='/userDelete'> DELETE </a>
            </div>
        </li>
        <li class='dropdown'>
            <a href="/">HOME-LOGOUT</a>
            <!-- Dropdown content for shopping cart -->

        </li>
    </ul>
</div>
<div class="container mt-5" th:if="${not session.loggedInUser.isAdmin}">
    <div class="alert alert-danger" role="alert" th:if="${not session.loggedInUser.isAdmin}">
        You are not an admin.
    </div>
</div>
<h1 align="center" >Users List</h1>
<!-- Popup container for getting user by ID -->
<section id="getUserForm" class="container_id" th:if="${session.loggedInUser.isAdmin}">
    <form th:action="@{/user}" method="get">
        <input type="text" id="userID" name="id" placeholder="Enter User ID">
        <input  type="submit" value="Get User">
        <button type="button" class="btn cancel" th:onclick="|window.location.href='/users'|">Cancel</button>
    </form>
</section>



<div class="container" th:if="${error}"  >

    <p th:text="${error}"></p>

</div>


<table th:if="${session.loggedInUser.isAdmin}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Address</th>
        <th>Date of Birth</th>
        <th>Is Admin</th>
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of users -->
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.address}"></td>
        <td th:text="${user.dateOfBirth}"></td>
        <td th:text="${user.isAdmin}"></td>
        <!-- Add more columns as needed -->
    </tr>
    </tbody>
</table>



</div>







<script th:inline="javascript">

    function redirectToUpdatePage() {
        // Redirect to userUpdate.html
        window.location.href = 'userUpdate';
    }

</script>

<script th:src="@{/js/userById.js}"></script>

</body>
</html>
